<h5 class="m-4">配送先編集</h5>
<%= form_with model: @address do |f| %>
<p>郵便番号(ハイフンなし)　　　<%= f.text_field :postal_code %></p>
<p>住所　　　　　　　　　　　　<%= f.text_field :address, :size=>"50" %></p>
<p>宛名　　　　　　　　　　　　<%= f.text_field :name %>　　　　　<%= f.submit "変更内容を保存" %></p>
<% end %>