<div class="container">
  <h4 class="m-4">商品一覧</h4>
  <div class="row">
    <% @items.each do |item| %>
    <div class="col-3 mt-3">
      <%= link_to item_path(item.id) do %>
        <%= image_tag item.image, size: "100X100" %>
      <% end %>
      <p class="text-left mt-3">
        <%= link_to item.name, item_path(item.id) %>
      </p>
      <p class="text-left">
        ￥<%= item.price %>
      </p>
    </div>
    <% end %>
    <%= paginate @items %>
  </div>
</div>
